colorama == 0.4.6
prettytable == 3.8.0
requests ==2.32.2
tqdm ==4.66.3
elevate == 0.1.3
ask-question ==1.2.8
colourise-output ==1.1.6
display-tty == 1.0.1
tty-ov == 1.0.11
asciimatics == 1.14.0
psutil == 5.9.5
# urwid does not natively run on windows
# urwid == 2.2.1
# Not Powerfull enougth
# blessed == 1.20.0
